#!/bin/env bash

export GOOGLE_CLIENT_ID="124858368586-ej6a4bsgpdve21m0g0qqdlfh2i0d3nlo.apps.googleusercontent.com"
export YOUTUBE_PLAYLIST_ID="PLSdQwTwnm4bpuspm6mf3hTHycM3GQSUpQ" # Deploy
# export YOUTUBE_PLAYLIST_ID="PLSdQwTwnm4bp9M40kZ9EdrYz3ijl7SVa8" # Dev
