#!/bin/env bash

export RUST_LOG="like_and_subscribe=trace,tower_http::trace=trace"

export GOOGLE_CLIENT_SECRET_FILE="client_secret_124858368586-ej6a4bsgpdve21m0g0qqdlfh2i0d3nlo.apps.googleusercontent.com.json"
export YOUTUBE_PLAYLIST_ID="PLSdQwTwnm4bpuspm6mf3hTHycM3GQSUpQ"

export PUBSUB_HOSTNAME="lenovo-fedora.taila5e2a.ts.net"

export ADMIN_PANEL_FILES="$PWD/vendored/admin"

export DATABASE_URL="sqlite://$PWD/database.sqlite?mode=rwc"

# Sea-ORM-CLI
export MIGRATION_DIR="./crates/migration"