#!/bin/env bash

export GOOGLE_CLIENT_SECRET_FILE="client_secret_124858368586-ej6a4bsgpdve21m0g0qqdlfh2i0d3nlo.apps.googleusercontent.com.json"

export YOUTUBE_PLAYLIST_ID="PLSdQwTwnm4bpuspm6mf3hTHycM3GQSUpQ"

export RUST_LOG="like_and_subscribe=trace,tower_http::trace=trace"